.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Farsan";
  font-size: 25px;
}

#app-title {
  text-decoration: underline;
}

#song-list {
  margin: 40px auto;
}

table, tbody, tr, th, td {
  border: 1px solid black;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

.nav-links {
  font-size: 30px;
  color: black;
  text-decoration: none;
}

.content {
  display: flex;
  flex: 1;
}

.columns {
  display: flex;
  flex: 1;
}

.main {
  order: 2;
  flex: 3;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

.first-sidebar {
  order: 1;
}

.second-sidebar {
  order: 3;
}

aside {
  flex: 1;
  background: #FFF8DC;
}

.footer {
  padding: 25px;
}

.selling-points {
  margin-bottom: 17%;
}
