.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#song-list {
  margin: 40px auto;
}

table, tbody, tr, th, td {
  border: 1px solid black;
}

nav {
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

.content {
  display: flex;
  flex: 1;
}

.columns {
  display: flex;
  flex: 1;
}

.main {
  border: 3px solid blue;
  order: 2;
  flex: 1;
}

.first-sidebar {
  order: 1;
  border: 3px solid purple;
}

.second-sidebar {
  border: 3px solid orange;
  order: 3;
}
